body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
}
p {
  font-size: 1.1em;
  font-weight: 400;
}
h1 {
  font-size: 3em;
  font-weight: 700;
}
h2 {
  font-size: 1.8em;
  font-weight: 600;
}
h3 {
  font-size: 1.8em;
  font-weight: 500;
}

.wrapper {
  width: 1200px;
  height: 2000px;
  margin: 0 auto 0 auto;
}
.header {
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  background-color: #fff;
  margin-bottom: 5vh;
}
.menu-wrapper {
  width: 1200px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
}
.logo img {
  height: 60px;
  margin-top: 10px;
}
.menu {
  align-items: center;
  display: flex;
}
ul {
  display: flex;
  flex-direction: row;
}
li {
  display: flex;
  margin-left: 20px;
}
.menu a {
  font-weight: 600;
  text-decoration: none;
  color: #000;
  transition: 0.1s;
  font-size: 1em;
}
.menu a:hover {
  color: #e34a00;
}
.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin: 0 0 5px 10px;
}
.menu li:nth-child(4) {
  margin-left: 40px;
  padding: 0 15px 0 15px;
  outline: 1px solid #000;
  outline-offset: 12px;
}
#introduction {
  height: 90vh;
  background-color: #fff;
  transition: opacity 1s;
  position: relative;
}
.background_image img {
  height: 90vh;
  min-width: 75vw;
  margin-left: 25vw;
}

.intro_text h1 {
  position: absolute;
  font-size: 35px;
  margin-left: 59vw;
  margin-top: 45vh;
  color: #fff;
}
.startquizbutton {
  position: absolute;
  color: #202658;
  height: 60px;
  width: 250px;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 1% 1% 1%;
  margin-left: 70vw;
  margin-top: 55vh;
  border-radius: 50px;
}
.startquizbutton h2 {
  font-size: 25px;
}

.startquizbutton:hover {
  background-color: transparent;
  color: #fff;
  border: 5px solid #fff;
}

/* martins nye kode */
/* martins nye kode */
/* martins nye kode */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
#question {
  font-weight: 400;
  font-size: 40px;
  align-self: center;
  padding-top: 7vh;
}

#question-container2 {
  display: none;
}

.flip-card-3D-wrapper {
  width: 60%;
  height: 80%;
  max-width: 220px;
  max-height: 300px;
  position: relative;
  -o-perspective: 900px;
  -webkit-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
  margin: 0 auto;
  margin-top: 30px;
}

#flip-card2,
#flip-card4 {
  left: 300px;
}

#flip-card3,
#flip-card5 {
  right: 300px;
}

#flip-card,
#flip-card2,
#flip-card3,
#flip-card4,
#flip-card5,
#flip-card6 {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 50px auto;
  position: absolute;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.do-flip {
  -o-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
#flip-card-btn-turn-to-back2,
#flip-card-btn-turn-to-front2,
#flip-card-btn-turn-to-back4,
#flip-card-btn-turn-to-front4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  right: 0px;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

#flip-card-btn-turn-to-back3,
#flip-card-btn-turn-to-front3,
#flip-card-btn-turn-to-back5,
#flip-card-btn-turn-to-front5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  right: 0px;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

#flip-card-btn-turn-to-back,
#flip-card-btn-turn-to-front,
#flip-card-btn-turn-to-back6,
#flip-card-btn-turn-to-front6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  right: 0px;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
#flip-card .flip-card-front,
#flip-card .flip-card-back,
#flip-card2 .flip-card-front2,
#flip-card2 .flip-card-back2,
#flip-card3 .flip-card-front3,
#flip-card3 .flip-card-back3,
#flip-card4 .flip-card-front4,
#flip-card4 .flip-card-back4,
#flip-card5 .flip-card-front5,
#flip-card5 .flip-card-back5,
#flip-card6 .flip-card-front6,
#flip-card6 .flip-card-back6 {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  -webkit-box-shadow: 5px 6px 32px 2px rgba(133, 133, 133, 0.71);
  -moz-box-shadow: 5px 6px 32px 2px rgba(133, 133, 133, 0.71);
  box-shadow: 5px 6px 32px 2px rgba(133, 133, 133, 0.71);
}
#flip-card .flip-card-front,
#flip-card2 .flip-card-front2,
#flip-card3 .flip-card-front3,
#flip-card4 .flip-card-front4,
#flip-card5 .flip-card-front5,
#flip-card6 .flip-card-front6 {
  background: white;
}
#flip-card .flip-card-back,
#flip-card2 .flip-card-back2,
#flip-card3 .flip-card-back3,
#flip-card4 .flip-card-back4,
#flip-card6 .flip-card-back6 {
  background: #c1dfc2;

  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#flip-card2 .flip-card-back2,
#flip-card6 .flip-card-back6 {
  background: #e34a00;

  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#flip-card3 .flip-card-back3,
#flip-card5 .flip-card-back5 {
  background: #e34a00;
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#flip-card .flip-card-front p,
#flip-card .flip-card-back p,
#flip-card2 .flip-card-front2 p,
#flip-card2 .flip-card-back2 p,
#flip-card3 .flip-card-front3 p,
#flip-card3 .flip-card-back3 p,
#flip-card4 .flip-card-front4 p,
#flip-card4 .flip-card-back4 p,
#flip-card5 .flip-card-front5 p,
#flip-card5 .flip-card-back5 p,
#flip-card6 .flip-card-front6 p,
#flip-card6 .flip-card-back6 p {
  display: block;
  position: absolute;
  top: 65%;
  width: 100%;
  font-size: 16px;
}

#flip-card .flip-card-back h3,
#flip-card2 .flip-card-back2 h3,
#flip-card3 .flip-card-back3 h3,
#flip-card4 .flip-card-back4 h3,
#flip-card5 .flip-card-back5 h3,
#flip-card6 .flip-card-back6 h3 {
  display: block;
  position: absolute;
  top: 0%;
  width: 100%;
  color: #fff;
}

#flip-card .flip-card-back h4,
#flip-card2 .flip-card-back2 h4,
#flip-card3 .flip-card-back3 h4,
#flip-card4 .flip-card-back4 h4,
#flip-card5 .flip-card-back5 h4,
#flip-card6 .flip-card-back6 h4 {
  display: block;
  position: absolute;
  top: 20%;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  padding: 13px;
  color: #fff;
}

.flip-card-front,
.flip-card-back,
.flip-card-front2,
.flip-card-back2,
.flip-card-front3,
.flip-card-back3,
.flip-card-front4,
.flip-card-back4,
.flip-card-front5,
.flip-card-back5,
.flip-card-front6,
.flip-card-back6 {
  border-radius: 30px;
}
.nextbtn_style {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 50%;
  height: 10%;
  right: 0px;
  background: transparent;
  cursor: pointer;
  visibility: visible;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
  outline: none;
}
.nextbtn_style:hover {
  color: #e34a00;
  background-color: #fff;
}
/*
#nextbtn-korrekt {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 50%;
  height: 10%;
  right: 0px;
  background: transparent;
  cursor: pointer;
  visibility: visible;
  border: 2px solid #fff;
  color: #fff;
  /* skal give +1 korrekt*
}

#nextbtn-forkert1 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 50%;
  height: 10%;
  right: 0px;
  background: transparent;
  cursor: pointer;
  visibility: visible;
  border: 2px solid #fff;
  color: #fff;
}

#nextbtn-forkert2 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 50%;
  height: 10%;
  right: 0px;
  background: transparent;
  cursor: pointer;
  visibility: visible;
  border: 2px solid #fff;
  color: #fff;
}

#nextbtn-korrekt4 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 50%;
  height: 10%;
  right: 0px;
  background: transparent;
  cursor: pointer;
  visibility: visible;
  border: 2px solid #fff;
  color: #fff;
  /* skal give +1 korrekt*
}

#nextbtn-forkert5 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 50%;
  height: 10%;
  right: 0px;
  background: transparent;
  cursor: pointer;
  visibility: visible;
  border: 2px solid #fff;
  color: #fff;
}

#nextbtn-forkert6 {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 30px;
  width: 50%;
  height: 10%;
  right: 0px;
  background: transparent;
  cursor: pointer;
  visibility: visible;
  border: 2px solid #fff;
  color: #fff;
} */

.card__illustrations {
  display: block;
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto 0px;
  margin-top: 12%;
}

.progressbar-container {
  background: #fafafa;
  height: 10px;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 30px;
}

.bar-container {
  background: #f0f0f0;
  height: 15px;
  width: 100%;
  border-radius: 10px;
}
.bar {
  background: #e34a00;
  height: 15px;
  width: 0%;
  border-radius: 10px;
  transition: width 400ms;
}
.slut_btn {
  align-content: center;
  justify-content: center;
  text-align: center;
}
#afslut-btn {
  width: 80px;
  height: 40px;
  background-color: #fff;
  box-shadow: 5px 6px 32px 2px grey;
  color: #e34a00;
  border: none;
  border-radius: 50px;
  outline: none;
}
#expand {
  height: 0;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: #e34a00;
  display: none;
  border-radius: 20px;
  transition: 1s ease;
  color: #fff;
  visibility: hidden;
  display: flex;
  overflow: hidden;
}
.expand-top {
  width: 100%;
  height: 10%;
  top: 10%;
  text-align: center;
  font-size: 70%;
}

.expand-top h1 {
  padding-top: 20px;
}

.expand-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85%;
}
.expand-left {
  width: 50%;
  height: 100%;
}
.expand-right {
  width: 50%;
  height: 100%;
}

.wrapper1 {
  width: 80%;
  padding: 10px;
  margin-left: 15%;
}

.wrapper1 h2 {
  text-align: left;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.wrapper1 p {
  font-size: 15px;
}

.wrapper2 {
  padding: 5px;
  margin-left: 15%;
}

.wrapper2 h2 {
  text-align: left;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.wrapper2 h3 {
  text-align: left;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.input_kasse {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.input_kasse input[type="text"] {
  width: 80%;
  border: 1px solid #e0e0e0;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.submit_btn input[type="submit"] {
  border: 0;
  margin-top: 15px;
  padding: 10px;
  width: 80%;
  background: #fece0c;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
}

#error_message {
  width: 80%;
  margin-bottom: 20px;
  padding: 0px;
  background: #fe8b8e;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.wrapper3 {
  width: 100%;
  padding: 10px;
  margin-left: 25%;
  margin-top: 14%;
}

.wrapper3 a {
  text-align: left;
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.wrapper4 {
  width: 100%;
  margin-top: 41px;
}

.wrapper4 img {
  max-width: 50%;
  height: auto;
  margin-left: 25%;
}

.wrapper5 {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 70px 0 70px;
}

.wrapper5 img {
  width: 38px;
  height: auto;
  margin-left: 40px;
}

.wrapper5 p {
  font-size: 12px;
}

.wrapper6 {
  width: 100%;

  padding: 10px;
}

.wrapper6 img {
  max-width: 5%;
  height: auto;
  margin-bottom: 5px;
  margin-left: 45px;
}

.wrapper6 p {
  font-size: 12px;
}
.some {
  cursor: pointer;
}
